@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --azul: #1E3A8A;
    --branco: #F5F7FA;
    --preto: #000000;
    --cinza-botao: #374151;
    --cinza: #D1D5DB;
    --azul-tabela: #95BDFF;
    --azul-quadro: #3B82F6;
    --branco-fundo: #F5F7FA;
    --branco-cinzento: #EBEBEB;
    --cinza-card: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--branco-fundo);
}

@media (max-width: 768px) {
    body, #root {
        width: 100%;
        overflow-x: hidden;
    }
}